.container{
    border: 1px solid black;
    height:100vh;
    box-sizing: border-box;
    position: relative;

}
.search{
    float: right;
    border: 1px solid black;
    background-color: blueviolet;
    }

.nav{
    border:1px solid black;
    background-color: rgb(156, 148, 163);
    justify-items: flex-start;
    width: 300px;
    height: 100vh;
    }
    
    #work{
        display: inline;
        font-size: 30px;
        font-weight: bold;
        color: rgb(94, 11, 130);
    }
    #w{
        font-size: 30px;
        font-weight: bold;
        color: azure;
        border: 1px solid black;
        border-radius: 50%;
        margin: 3px;
        padding: 2px;
    }
    .home{
        border: 1px solid black;
        margin: 1px;
    }
    #home{
        color: azure;
        font-size: 20px;
    }
    .Customer{
        border:1px solid black;
        margin:1px;
    }
    #customer{
        color: azure;
        font-size: 20px;
    }
    .Department{
        border: 1px solid black;
        margin: 1px;
    }
    #department{
        color: azure;
        font-size: 20px;
    }
    .Media{
        border: 1px solid black;
        margin: 1px;
    }
    #media{
        color: azure;
        font-size: 20px;
    }
    .search{
        text-align: end;
    }
    table,td ,th{
        font-size: 20px;
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
    }
    .table{
        position: absolute;
        left: 30%;
        top: 30px;
    }
    .image{
        position: absolute;
        left: 350px;
        top: 30px;
    }
    #image{
        position: absolute;
        left: 350px;
        top:65px;
        margin: 5px;
    }
    .video{
        position: absolute;
        left: 350px;
        top: 480px;
    }
    #video{
        position: absolute;
        left: 350px;
        top:70%;
        margin: 5px;
    }
    .account{
        position: absolute;
        bottom: 0;
    }
    #acc{
        color: azure;
        font-size: 20px;
    }
    .home:hover,.Customer:hover,.Department:hover,.Media:hover,.account:hover{
        background-color: grey;
    }
    .home:active,.Customer:active,.Department:active,.Media:active,.account:active{
        color: rgb(21, 0, 255);
    }
    
    